*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    background-image: url(../images/10798281_19362653.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    padding: 1% 0;
        
}

.header ul li a{
    text-decoration: none;
    color: bisque;
}

.projects h1{
    text-align: center;
    font-size: 45px;
    margin: 4% 0;
}

.projects ul li{
    margin: 1% 0;
}

.projects ul li a{
    text-decoration: none;
    font-size: 30px;
}