*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    background-image: url(../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    padding: 1% 0;
        
}

.header ul li a{
    text-decoration: none;
    color: bisque;
    
}

.profile{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.profile .my-profile{
    width: 65%;
}

.profile .my-image{
    width: 35%;
}

.profile .my-image img{
    width: 50%;
    border-radius: 50%;
}

.profile .my-profile h1,article{
    color: azure;
}